@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-button {
    background-color: rgb(255, 255, 255);

    
}

::-webkit-scrollbar-thumb {
    background-color: rgba(199, 199, 199, 0.534);
}

html,
body {
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    place-content: top center;
    min-height: 100%;
    max-height: 100vh;
    overflow: hidden auto;
    font-size: 16px;
    background-color: #D4D4D8;
    font-family: 'Sora', sans-serif;
}

p {
    padding: 1rem 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    max-width: 1280px;
    margin: 82px auto;
}

.page {
    display: grid;
    grid-auto-flow: row;
    gap: 40px;
    padding: 0 41px;
    place-items: center;
    background-color: #FAFAF9;
}

.item-flex {
    flex: 1;
    height: 100%;
    display: flex;
    place-items: start ;
    padding: 50px 0;
    /* background-color: rgb(255, 255, 255); */
}

.item-flex.container-cards {
    flex-direction: column;
    place-content: space-between;
    max-height: 100vh;
    overflow: hidden auto;
    gap: 2rem;
    /* background-color: rgb(192, 47, 47); */
}

.star-ligth {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: transform, 600ms linear;
    background-color: gold;
    align-self: flex-start;
}

.star-ligth:hover {
    transform: rotate(360deg);
}

jv-card img {
    width: 96px;
}

jv-card:nth-child(odd) {
    align-self: flex-end;

}

jv-card:nth-child(even) {
    align-self: flex-start;

}
@media screen and (min-width: 768px) {
    .page {
       display: flex;
    }
}